body
{
	background-color:#FF9933;
}

.form
{
	border-color: #FF6600;
	border-radius:10px;
	border-style: solid;
	border-width: 7px;
	text-align: center;
	width:30%;
	position: absolute;
	top:30%;
	left:35%;
}

.button
{
	color: #F00;
}

#scelte
{
	position:fixed;
	left:37%;
}

#button1, #button2, #button3
{
	width:300;
	height:200;
	float:left;
	margin:20px;
}